@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100;9..40,200;9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,800;9..40,900;9..40,1000&family=Nunito:wght@200;300;400;500;600;700;800;900;1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'DM Sans';
}

.t-img {
  border-radius: 1.04em;
  overflow: hidden;
  position: absolute;
}

.t-img-1 {
  width: 220px;
	top: 6.2rem;
	bottom: auto;
	left: 13rem;
	right: auto;
}

.t-img-2 {
  width: 240px;
	bottom: 3rem;
	left: 5rem;
	right: auto;
}

.t-img-3 {
  width: 250px;
	right: 3rem;
	bottom: auto;
}

.t-img-4 {
  width: 275px;
  right: 10rem;
	top: auto;
	bottom: 3rem;
  left: auto;
}

@media (max-width: 1500px) {
  .t-img-4 {
    right: 3rem;
  }
}

@media (max-width: 1250px) {
  .t-img-1 {
    top: 0;
    left: 3rem;
    width: 150px;
  }

  .t-img-2 {
    bottom: 0;
    left: 1rem;
    width: 180px;
  }

  .t-img-3 {
    right: 2rem;
    top: 0;
    width: 100px;
  }

  .t-img-4 {
    bottom: 3rem;
    right: 2rem;
    width: 150px;
  }
}

@media (max-width: 991px) {

}

.slider {
  animation: slider infinite 15s linear;
}

.hero-bubble {
  position: relative;
  min-width: 50px;
  min-height: 50px;
  width: 6vw;
  height: 6vw;
  border: 4px solid white;
  border-radius: 1.5rem;
  bottom: -5px;
}

@keyframes slider {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}